    <div class="modal fade" id="modalRecordatorioNota" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content p-3">
                <div class="modal-header border-0 pb-2">
                    <h6 class="modal-title"><i class="far fa-bell text-warning me-2"></i> Fecha del recordatorio</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <label for="nota-fecha-recordatorio" class="form-label small">Seleccioná la fecha en que querés que se te recuerde:</label>
                    <input type="date" class="form-control" id="nota-fecha-recordatorio">
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success btn-sm" style="background-color: var(--primary-dark);" onclick="guardarFechaRecordatorio()">Guardar</button>
                </div>
            </div>
        </div>
    </div>