    <div class="modal fade" id="modalSeleccionarCaminata" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-header border-0 pb-2">
                    <h6 class="modal-title"><i class="fas fa-list-alt"></i> <span id="seleccionar-caminata-titulo">Pertenece a varias listas</span></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <p class="text-muted small">Elegí a cuál lista de caminata querés ir:</p>
                    <div id="lista-seleccionar-caminata" class="list-group"></div>
                </div>
            </div>
        </div>
    </div>