                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-oracion">
                            <i class="fas fa-praying-hands me-2" style="color: var(--primary-dark)"></i> Oración de la Tribu
                        </button>
                    </h2>
                    <div id="acc-oracion" class="accordion-collapse collapse" data-bs-parent="#ajustes-accordion">
                        <div class="accordion-body text-center">
                            <button class="btn btn-danger" onclick="abrirOracionTribu()">
                                <i class="fas fa-book-open me-2" style="color: #fff;"></i> Ver oración
                            </button>
                        </div>
                    </div>
                </div>